<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>

    <% thingsList.forEach(function(thing) { %>
      <div>
        <h4>ITEM</h4>
        <%= thing.item.toUpperCase() %>
        <div>
        <h4>OWNER</h4>
          <%= thing.owner %>
        </div>
      </div>
    <% })%>
  </body>
</html>