
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    The New Page!
    <form method="post" action="/things">
      <input type="text" name="item">
      <textarea name="owner"></textarea>
      <button>Save</button>
    </form>
  </body>
</html>