<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    The New Page!
    <form method="post" action="/todos">
      <input type="text" name="todo">
      <button>Save</button>
    </form>
  </body>
</html>
